In [1]:
import snowflake.connector

In [2]:
import credentials
con = snowflake.connector.connect(
    user=credentials.Username,
    password=credentials.password,
    account='fzkreem-ojb05768',
    role='ACCOUNTADMIN',
    warehouse='COMPUTE_WH',
    database='SPOTIFY_DB',
    schema='MY_SCHEMA'
)

In [3]:
cs=con.cursor()

In [4]:
from snowflake.connector.pandas_tools import write_pandas
import pandas as pd
data=pd.read_csv('artist.csv')

In [23]:
cs.execute('Create or replace Schema spotify_db.my_schema')

In [42]:
cs.execute('Create or replace table spotify_db.my_schema.Artists("id" string, "name" string,"popularity" Number(10, 0), "FOLLOWERS" Number(20, 0), "genres" variant)')

In [6]:
data.columns
data.drop(columns=['Unnamed: 0', 'type'], inplace=True)

In [10]:
# data.drop(columns= 'images', inplace= True)
data.drop(columns= ['uri', 'external_urls.spotify', 'followers.href'], inplace= True)

In [14]:
data

,id,name,popularity,FOLLOWERS,genres
0,0TF6B1cp2QZXLE0NjhTMT9,LITE,29,65406,"['math rock', 'post-rock']"
1,2lQvoGjN6jJfsAkaywtgrB,Canibus,39,112620,"['east coast hip hop', 'hardcore hip hop', 'un..."
2,3BeQqzKdlARoOd6y30kCO2,Pete Rock,53,371122,"['jazz rap', 'east coast hip hop', 'boom bap']"
3,4VhYUWpDsLraUG6Sd8g9TF,Bronze Nazareth,33,22608,"['underground hip hop', 'boom bap']"
4,26T3LtbuGT1Fu9m0eRq5X3,Cage The Elephant,74,4072876,['modern rock']
...,...,...,...,...,...
378,2mJOGcLR3aCHkM1uAF93or,DREAMS COME TRUE,61,1660540,"['j-pop', 'kayokyoku', 'city pop']"
379,26VFTg2z8YR0cCuwLzESi2,Halsey,83,22014369,[]
380,5he5w2lnU9x7JFhnwcekXX,Skrillex,76,7688619,"['dubstep', 'edm', 'electro', 'electronic']"
381,5fMUXHkw8R8eOP2RNVYEZX,Diplo,78,2758525,['moombahton']
382,20qISvAhX20dpIbOOzGK3q,Nas,73,4099316,"['east coast hip hop', 'hip hop']"

In [12]:
data=data.iloc[:, [1, 2, 3, 4, 0]]

In [13]:

# data['id']=data['id'].astype('string')
data
data.rename(columns={'followers.total': 'FOLLOWERS'}, inplace=True)

In [ ]:
# cs.execute('Use SCHEMA MY_SCHEMA')
write_pandas(con, data, table_name="ARTISTS")

NameError: name 'data' is not defined

In [1]:
import pandas as pd
artist_discography_df= pd.read_csv('artist_discography.csv')

In [2]:
artist_discography_df
artist_discography_df.drop(columns=['Unnamed: 0', 'extensions', 'data.artist.uri', 'data.artist.discography.compilations.totalCount', 'message'], inplace=True)

In [3]:
artist_discography_df.rename(columns={'data.artist.id':'ID', 'data.artist.profile.name': 'NAME', 'data.artist.discography.albums.totalCount':'TOTAL_ALBUMS', 'data.artist.discography.singles.totalCount':'TOTAL_SINGLES'}, inplace=True)

In [4]:
artist_discography_df

                         ID               NAME  TOTAL_ALBUMS  TOTAL_SINGLES
0    0TF6B1cp2QZXLE0NjhTMT9               LITE          15.0           15.0
1    2lQvoGjN6jJfsAkaywtgrB            Canibus          32.0           37.0
2    3BeQqzKdlARoOd6y30kCO2          Pete Rock          25.0           45.0
3    4VhYUWpDsLraUG6Sd8g9TF    Bronze Nazareth          28.0           30.0
4    26T3LtbuGT1Fu9m0eRq5X3  Cage The Elephant           9.0           13.0
..                      ...                ...           ...            ...
378                     NaN                NaN           NaN            NaN
379                     NaN                NaN           NaN            NaN
380                     NaN                NaN           NaN            NaN
381                     NaN                NaN           NaN            NaN
382                     NaN                NaN           NaN            NaN

[383 rows x 4 columns]

In [10]:
from snowflake.connector.pandas_tools import write_pandas
write_pandas(con, artist_discography_df, table_name="ARTISTS_DISCOGRAPHY")

(True,
 1,
 383,
 [('hbjbjiafnz/file0.txt', 'LOADED', 383, 383, 1, 0, None, None, None, None)])